.main-cart {
    margin-bottom: 0;
}
.payment-page {
    padding-bottom: 128px;
    padding-top: 96px;
}
.payment-page-wrap {
    display: flex;
    justify-content: space-between;
}
.cart-items {
    width: 652px;
}
.cart-items__item-card {
    display: flex;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    position: relative;
    &_margin_bw-cards {
        margin-bottom: 40px;
    }
    &_margin_bot {
        margin-bottom: 72px;
    }
    &_image {
        transition: 0.3s;
        transform: scale(1);
        &:hover {
            transition: 0.3s;
            transform: scale(1.2);
        }
    }
}
.cart-items__item-card__info {
    display: flex;
    flex-direction: column;
    padding-left: 31px;
    padding-top: 22px;
}
.cart-items__item-card__info_name {
    width: 262px;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin-bottom: 42px;
}
.cart-items__item-card__info_options-block {
    display: flex;
    flex-direction: column;
}
.cart-items__item-card__info_option-element {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
.cart-items__item-card__info_title {
    font-size: 22px;
    line-height: 26px;
    color: #575757;
}
.cart-items__item-card__info_text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #575757;
    &_price {
        color: $pink-color;
    }
    &_quainity {
        border: none;
        outline: 1px #EAEAEA solid;
        width: 44px;
        text-align: right;
        margin-left: 24px
    }
}
.cart-items__item-card__info_delete-button {
    position: absolute;
    right: 24px;
    top: 28px;
    background-color: unset;
    border: none;
    &_icon {
        fill: #575757;
    }
    &:hover &_icon {
        fill: $pink-color;
    }
}
.cart-items__control-buttons-block {
    display: flex;
    justify-content: space-between;
}
.cart-items__control-buttons {
    font-size: 14px;
    line-height: 17px;
    border: none;
    color: black;
    width: 235px;
    height: 50px;
    outline: 1px #A4A4A4 solid;
    text-align: center;
    background-color: white;
}
.checkout-block__payment-info_shipping-adress {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}
.checkout-block {
    width: min-content;
    display: flex;
    flex-direction: column;
    &_inputs {
        background-color: white;
        margin-bottom: 20px;
        width: 360px;
        height: 45px;
        color: black;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        border: none;
        outline: 1px #A4A4A4 solid;
        padding-left: 17px;
        &_city {
            color: #B1B1B1;
        }
        &_quote {
            height: 35px;
            width: 101px;
            padding-left: 0;
            margin-bottom: 0;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            color: #4A4A4A;
        }
        &_checkout {
            width: 273px;
            height: 50px;
            @include white-button-hover;

        }
    }
}
.checkout-block__payment-info {
    margin-bottom: 57px;
}
.checkout-block_line {
    width: 275px;
    border: 1px #E2E2E2 solid;
    margin: 104px 0 17px;
}
.checkout-block__process-purchase {
    background-color: #F5F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 214px;
    width: 360px;
}
.checkout-block__process-purchase_amount-cart {
    align-self: flex-end;
    &_sub-total {
        position: absolute;
        top: 39px;
        right: 34px;
        display: flex;
        justify-content: flex-end;
    }
    &_grand-total {
        position: absolute;
        right: 37px;
        top: 67px;
        justify-content: flex-end;
        display: flex;
    }
}
.amount-cart_sub-total {
    &_title {
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
    }
    &_text {
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        padding-left:24px;
    }
}
.amount-cart_grand-total {
    &_title {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }
    &_text {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: $pink-color;
        padding-left:26px;
    }
}