.arrival {
    background-color:#F8F3F4;
}
.arrival-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
}
.arrival-article {
    color: $pink_color;
    font-size: 24px;
    line-height: 29px;
    align-self: center;
    font-weight: normal;
}
.map-item {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    align-self: center;
    text-decoration: none;
}
.map-item-current {
    color: $pink_color;
    font-weight: 700;
}
.content-filter {
    display: flex;
    margin: 51px auto 64px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}
.filter-by-type {
    display: flex;
    align-items: center;
    font-weight: 600;
    color:black;
    font-size: 14px;
    line-height: 17px;
    align-self: flex-start;
    text-decoration: none;
    position: relative;
    outline: none;
}
.catalog-filters {
    position: absolute;
    display: flex;
    width: 296px;
    justify-content: space-between;
}
.text-decor-catalog {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    outline: none;
}
.text-decor-catalog:hover {
    font-weight: bold;
}
.trending-box {
    display: inline-flex;
}
.catalog-svg {
    padding-left: 10px;
}
.pages-nav-button {
    border: none;
    outline: none;
    background: none;
    background-color: unset;
    font-size: 14px;
    margin: 0 15px;
}
.pages-nav-button:hover {
    color:$pink_color;
}
.catalog-pages-navigation {
    display: flex;
    width: 284px;
    outline: 1px #EBEBEB solid;
    align-items: center;
}
.catalog-pages-wrap {
    display: flex;
    justify-content: center;
}
.pages-button {
    width: 202.71px;
    height: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}
.page-button-size {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
    margin: 0;
}
.current-page {
    color: $pink-color;
}
.main-catalog {
    margin-bottom: 96px;
}
.filter-open {
    border-left: 5px solid $pink_color;
    border-bottom: 1px solid #EBEBEB;
    position: relative;
    outline: none;
    display: flex;
    align-items: center;
    padding-left: 11px;
    height: 37px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
.menu-svg-margin {
    margin-left: 11px;
}
.menu-svg {
    fill: #000000;
}
.filter-by-type:hover {
    color: $pink_color;
}
.filter-by-type:hover .menu-svg{
    fill: $pink_color;
}
.filter-box-menu[open] {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
}
.filter-box-menu {
    display: block;
    position: absolute;
    z-index: 2;
    padding: 16px;
    margin-top: -13px;
    left: 0;
}

.filter-category:hover {
    color: $pink_color;
}
.filter-category-box[open] > .filter-category{
    color: $pink_color;
}
.filter-brand:hover {
    color: $pink_color;
}
.filter-brand-box[open] > .filter-brand{
    color: $pink_color;
}
.filter-designer:hover {
    color: $pink_color;
}
.filter-designer-box[open] > .filter-designer{
    color: $pink_color;
}
.category-menuitem {
    background-color: unset;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-top: 11px;
}
.menuitem-margin {
    margin-top: 0;
}
.category_filter_content {
    display: flex;
    flex-direction: column;
    margin-left: 17px;
    margin-left: 17px;
    margin-top: 24px;
    margin: 24px  0 24px 17px;
    align-items: flex-start;
}
.category-menuitem:hover {
    font-weight: bold;
} 
.filter-box {
    margin: 27px 0;
    &:last-child {
        margin: 0;
    }
}
.filter-category-box {
    margin: 16px 0;
}
.label-checkbox {
    padding-left: 9px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #6F6E6E;
}
.label-checkbox:hover {
    font-weight: bold;
}
.size-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 7px 0 11px 9px;
    margin-top: 5px;
}
.menu-box-opened {
    width: 328px;
}
.size-container {
    width: 79px;
    z-index: 1;
}
.filter-box-menu[open] .menu-svg{
    fill: $pink_color;
}
.filter-box-menu[open] .filter-by-type{
    color: $pink_color;
}
.card-block_bottom-padding {
    padding-bottom: 48px;
}
.pages-button_latest {
    display: flex;
}

@media (max-width: $tablet-wrap-jump) {
    .item-card-catalog {
        &:nth-child(3) {
            display: none;
        }
    }
    .content-filter {
        justify-content: flex-end;
    }
    .filter-box-menu {
        margin-left: -13px;
    }
    .main {
        margin-bottom: 64px;
    }
}
@media (max-width: $mobile-wrap-jump) {
    .arrival-wrap {
        justify-content: space-evenly;
        flex-direction: column;
    }
    .filter-word {
        display: none;
    }
    .menu-svg-margin {
        transform: scale(2);
    }
    .content-filter {
        margin: 26px auto 41px;
    }
    .catalog-filters {
        width: 260px;
    }
    .filter-box-menu {
        margin-left: -24px;
    }
    .text-decor-catalog {
        font-size: 12px;
        line-height: 14px;
    }
    .menu-box-opened {
        width: 328px + 32;
    }
}