.content-item {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #F7F7F7;
}
.content-item-wrap {
    display: flex;
    justify-content: center;
    padding-top: 11px;
    padding-bottom: 53px;
}
.content-arrow {
    fill:black;
}
.content-arrow-icon:hover .content-arrow {
    fill:$pink_color;
}
.content-arrow_right {
    position: absolute;
    right: 0;
}
.content-arrow_left {
    position: absolute;
    left: 0;
}
.to-card-but-product {
    @include to-cart-but;
    @include button-pointer;
    width: 212px;
    height: 48px;
    color: $pink_color;
    outline: $pink_color 1px solid;
}
.item-card__overlay_to-cart-but_svg_product {
    margin-right: 11px;
    fill: $pink_color;
}
.to-card-but-product:hover .item-card__overlay_to-cart-but_svg_product{
    fill: white;
}
.content-description-wrap {
    outline: #EAEAEA 1px solid;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 64px 0;
    margin-top: -64px;
    left: 0;
    right: 0;
}
.goods-margin-top {
    margin-top: 128px;
}
.content-description__title {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $pink_color;
}
.content-description__title_line {
    width: 63px;
    height: 3px;
    border: none;
    background-color: $pink_color;
    margin: 12px 0;
}
.content-description-name_item {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
}
.content-description-name_item-deskription {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: 555px;
    color: #5E5E5E;
    margin: 48px 0 32px 0;
}
.content-description__item-price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: $pink_color;
}
.content-description__content-line {
    margin: 64px 0;
    width: 642px;
    height: 1px;
    border: none;
    background-color: #EAEAEA;
}
.content-filter-item {
    display: flex;
    justify-content: space-between;
    width: 374px;
    margin-bottom: 48px;
}
.item-card__description:hover .item-card__description_title{
    color: $pink_color;
}
.item-card__description:hover .item-card__description_text{
    color: $pink_color;
}
@media (max-width: $tablet-wrap-jump) {
    .card-block-product {
        flex-direction: row-reverse;
    }
    .item-card-product {
        &:last-child {
            display: none;
        }
        &:first-child {
            margin-right: 0;
        }
        &:nth-child(2) {
            margin-right: 16px;
        }
    }
    .content-description {
        border-bottom: #EAEAEA 1px solid;
        border-top: #EAEAEA 1px solid;
        &-wrap {
            outline: none;
            margin-top: 0;
        }
    }
    .content-item {
        &-wrap {
            padding-top: 30px;
            padding-bottom: 29px;
            & img {
                width: 466px;
                height: 565px;
            }
        }
    }
}
@media (max-width: $mobile-wrap-jump ) {
    .card-block-product {
        flex-direction: row;
    }
    .item-card-product {
        &:last-child {
            display: block;
            margin-right: 0;
        }
        &:first-child {
            margin-right: 0;
        }
        &:nth-child(2) {
            margin-right: 0px;
            display: none;
        }
    }
    .content-item {
        &-wrap {
            padding-top: 85px;
            padding-bottom: 85px;
            & img {
                width: 374px;
                height: 454px;
            }
        }
    }
    .content-description__content-line {
        width: 175px;
    }
    .content-filter-item {
        width: 304px;
    }
    .content-filter-item .text-decor-catalog-product {
        font-size: 10px;
        line-height: 12px;
    }
    .goods-margin-top {
        margin-top: 64px;
    }
    .item-content .card-block_bottom-padding-product {
        padding-bottom: 0;
    }
}